#fname{
    background-color: rgb(16, 5, 13);
}
#lname{
    background-color: rgb(205, 129, 29);
}
#phno{
    background-color: rgb(69, 176, 66);
}
#Address{
    background-color: rgb(127, 6, 221);
}
#password{
    background-color: rgb(0, 0, 0);
}
.ClassForm{
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    background-color: rgb(80, 50, 51);
}